* {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: "Arsenal", sans-serif;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: -2em;
}

.logo {
    height: 40%;
    padding-left: 20%;
    margin-top: 1.5em;
}

.menu {
    height: 100px;
    margin-top: 0;
    background-color: #122244;
}

li {
    margin-right: 5%;
}

a {
    font-weight: 400;
    font-size: 1vw;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
}

li :hover {
    color: orangered;
    border-bottom: 3px solid orangered;
    padding-bottom: 40%;
}

.container_img_brasil {
    position: relative;
    display: inline-block;
}

.paisagem {
    display: block;
    width: 104%;
}

.texto_brasil {
    position: absolute;
    bottom: 50%;
    left: 15%;
    transform: translateX(-50%);
    /* n entendi */
    color: white;
    /* Cor do teto */
    font-size: 2vw;
    font-weight: bold;
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 10%;
    display: flex;
    gap: 20px;
}

.button {
    background: #FF7B00;
    color: #112244;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.button:hover {
    background: #112244;
    color: #ffffff;
}


.about {
    padding: 32px 20px;
}

.about__section {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 360px 1fr;
    /* foto | textos */
    gap: 48px;
    align-items: center;
    margin-left: 30em;
}

.foto_candidato {
    width: 80%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 15px;
}

.textos_laterais {
    max-width: 50%;
}

.deputado {
    color: #f59e0b;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.8vw;
    letter-spacing: .08em;
    margin: 0 0 6px;
}

.nome {
    color: #0f2a45;
    font-weight: 800;
    line-height: 1.1;
    font-size: clamp(1vw, 2vw, 3vw);
    margin: 0 0 16px;
}

.texto_padrao {
    color: #475569;
    font-size: 1vw;
    line-height: 1.75;
    margin: 0 0 16px;
}

.faixa_esq{
    color: #475569;
    font-size: 1vw;
    line-height: 1.75;
    margin: 0 0 16px;
}

.trajetoria {
    display: flex;
}

.faixa_esquerda{
    
    width: 45%;
    padding-top: 5%;
    padding-left: 10%;
}